<html lang="en">
<head>
	<meta charset="utf-8">

	<title>w3labs - FAQ</title>

	<link rel="stylesheet" href="css/_styles.css">

	<script type="text/template" id="tabs-template">

		<ul class="tabs">
			{%
			var i = 0;
			_.each(FaqModel, function(category, categoryName){ 
			%}
				<li data-tab="tab-{{ i }}" {% if(i === 0) { i+=1; %} class="active" {% } %} >
					<a href="#">{{ categoryName }}</a>
					<p class="tab-desc">{{ category.subtitle }}</p>
				</li>
			{% }); %}
		</ul>


		<div class="tabs-content">
			{%
			var i = 0;
			_.each(FaqModel, function(category, categoryName){ 
			%}
				<div data-tab="tab-{{ i }}" {% if(i === 0) { i+=1; %} class="active" {% } %}>
					<div class="faq-col">
						{% _.each(category.questions, function(question){ %}
							<div class="faq-block-wrapper">
								<div class="faq-block">
									<a href="#" class="faq-q">{{ question.q }}</a>
									<div class="faq-a">{{ question.a }}</div>
								</div>
							</div>
						{% }); %}
					</div>
				</div>
			{% }); %}
		</div>

	</script>

</head>

<body>
	<div class="container faq">
	</div><!-- end .container -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="js/vendor/underscore.js"></script>
<script src="js/tabs.js"></script>
<script src="js/main.js"></script>
</body>
</html>